.chessboard {
  background: brown;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.cell {
  height: calc(100% / 8);
  width: calc(100% / 8);
}
.white {
  background: #fff;
}
.black {
  background: #000;
}